.header-content {
  background-color: #202020;
  border-radius: 0 0 32px 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
  
.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    transition-duration: 0.15s;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    ion-icon {
      font-size: 24px;
    }
  }
  
  .menu:hover, 
  .menu:focus, 
  .menu:active {
    opacity: 0.75;
  }

  .logo {
    width: 123px; 
    height: 95px;
  }
}
  
.notification-icon {
  position: relative;
  display: inline-block;

  .main-icon {
    font-size: 34px;
    color: #f97316;
  }
  
  .badge-icon {
    position: absolute;
    top: 4px;
    right: 4px;
    transform: translate(50%, -50%);
    font-size: 14px;
    color: #91EFD4;
  }
}
  