<div class="perfil-content">
  <div class="name">
    <img
      src="https://github.com/thiago-suzuki.png"
      alt=""
      class="avatar"
    />
    <div class="details-name">
      <h2>Thiago Suzuki</h2>
      <p>Nível Roxo</p>
    </div>
  </div>
  <div class="buttons">
    <button class="button-objective">
      <ion-icon name="person-outline" style="color: #f97316"></ion-icon>&ensp;MEU CORPO
    </button>
    <button class="button-objective">
      <ion-icon name="trophy-outline" style="color: #f97316"></ion-icon>&ensp;OBJETIVOS E CONQUISTAS
    </button>
  </div>
</div>