<section class="personal-list-content">
  <div class="title-content">
    <h3>
      PERSONAL ONLINE&ensp;<ion-icon name="add-circle-outline" style="color: #f97316; font-size: 24px;"></ion-icon>
    </h3>
  </div>

  <br>

  <div class="cards-content">
    <div class="card" style="opacity: 1;">
      <img
        src="assets/homem-dois.jpg"
        alt=""
        class="background-image"
      />
      <div class="card-title-center">
        <h4>
          <ion-icon name="add-circle-outline" style="font-size: 24px;"></ion-icon>&ensp;NOVO TREINO
        </h4>
      </div>
    </div>
    
    <div class="card" *ngFor="let p of personals">
      <img
        src="assets/homem.jpg"
        alt=""
        class="background-image"
      />
      <div class="card-title">
        <h4 style="font-weight: 700;">{{ p.name }}</h4>
      </div>
      <div class="effect"></div>
    </div>
  </div>
</section>