/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200);
@import "tailwindcss";

* {
  -webkit-font-smoothing: antialiased;
}

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*start - this css is to show scrollbar on ion-selects - there' s an open issue about it: https://github.com/ionic-team/ionic/issues/17397*/
.alert-radio-group::-webkit-scrollbar,
.alert-checkbox-group::-webkit-scrollbar {
  width: 0.5em;
  display: block !important;
}

.alert-radio-group::-webkit-scrollbar-track,
.alert-checkbox-group::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.alert-radio-label.sc-ion-alert-md, .alert-radio-label.sc-ion-alert-ios {
  white-space: normal !important;
}

[aria-checked=true].sc-ion-alert-md .alert-checkbox-icon.sc-ion-alert-md {
  border-color:  #3DC2FF;
  background-color: #3DC2FF;
}

.alert-radio-group::-webkit-scrollbar-thumb,
.alert-checkbox-group::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.popup-css-modal {
  .modal-wrapper{
    height: 40%;
    width: 33%;
    border-radius: 15px;
  }
}

.alert-confirm-center {
  .alert-wrapper {
    .alert-head {
      text-align: center;
      h2:first-child {
        font-weight: 600;
        color: #FF5733;
      }
      .alert-sub-title {
        margin-top: 20px;
      }
    }
    .alert-message {
      text-align: center;
    }
  }
}

.alert-confirm-delete-train {
  .alert-wrapper {
    .alert-head {
      background: black;
      text-align: center;
      h2:first-child {
        font-weight: 600;
        color: #FF5733;
      }
      .alert-sub-title {
        margin-top: 20px;
        color: white;
      }
    }
    .alert-button-group {
      background: black;
      display: flex;
      justify-content: center;

      .alert-button {
        color: #FF5733;
      }
    }
  }
}

.alert-controller-input {
  .alert-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .popup-css-modal {
    .modal-wrapper{
      height: 40%;
      width: 90%;
      border-radius: 15px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .popup-css-modal {
    .modal-wrapper{
      height: 35%;
      width: 90%;
      border-radius: 15px;
    }
  }
}


.alert-confirm-delete {
  .alert-wrapper {
    .alert-head {
      text-align: center;
      h2:first-child {
        font-weight: 600;
        color: #FF5733;
      }
      .alert-sub-title {
        margin-top: 20px;
      }
    }
  }

ion-button {
  background: var(--background);
  border-radius: var(--border-radius);
  color: var(--color);

  &.global-button {
    --border-radius: 5px;
  }

  &.button-add {
    --background: #b2bbbd;
    --color: #fff;
    &[disabled] {
      --background: #a7a7a7;
    }
  }

  &.button-clear {
    &[disabled] {
      --color: #a7a7a7;
    }
  }
}

.class-custom-action-sheet {
  ion-icon {
    color: #FF5733 !important;
  }

  span {
    font-size: 16px;
    color: #707070;
  }
}

.alert-confirm-import {
  h2 {
    font-weight: 700 !important;
    color: #707070 !important;
  }

  .cancel-button,
  .confirm-button {
    span {
      color: #FF5733 !important;
    }
  }
}

input[type="datetime-local"]::-webkit-inner-spin-button,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important;
}

#remove-style-input[type="datetime-local"]::-webkit-inner-spin-button,
#remove-style-input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none !important;
  -webkit-appearance: none !important;
}
#remove-style-input::-webkit-inner-spin-button,
#remove-style-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none !important;
  -webkit-appearance: none !important;
}
/*end*/

.class-custom-action-sheet {
  .action-sheet-icon.sc-ion-action-sheet-md {
    margin-inline-end: 16px !important;
    webkit-margin-end: 16px !important;
  }

  .action-sheet-group-cancel {
    border-top: solid 1px #707070;
  }
}

.alert-head.sc-ion-alert-md {
  text-align: left;
}

.alert-button-group.sc-ion-alert-md {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.alert-button.sc-ion-alert-md {
  color: #FF5733;
  --color: #FF5733;
}

.alert-checkbox-icon.sc-ion-alert-md {
  color: #3DC2FF !important;
  border-radius: 50%;
  --color: #3DC2FF !important;
  --border-radius: 50%;
}

.popover-list-options {
  --width: auto;
}

.search-box {
  border-bottom: solid 1px #00000029;

  ion-searchbar{
    --box-shadow: none;
    --icon-color: #A7A7A7;

    input {
      padding-left: 35px !important;
      text-align: initial !important;

      &::-webkit-input-placeholder {
        color: #707070;
        font-size: 14px;
      }
    }

    ion-icon {
      width: 17px !important;
      left: 10px !important;
    }
  }
}

ion-slides {

  .swiper-pagination {
    top: -8px;
    bottom: auto;
    left: auto;
    bottom: auto !important;

    .swiper-pagination-bullet {
      background: #fff;
      border: solid 1.5px #707070;
    }

    .swiper-pagination-bullet-active {
      background: #FF5733;
      border: solid 1px #FF5733;
    }
  }
}

.footer-md:before {
  background: none;
}

.select-disabled {
  opacity: 0.8 !important;
}

.camera-or-file-action-sheet {


  .action-sheet-title {
    font-size: 16px !important;
    color: #A7A7A7 !important;
    height: 50px !important;
  }

  .action-sheet-button {
    height: 44px !important;
  }


  .options {
    font-size: 16px !important;
    color: #707070 !important;
  }

  .cancel {
    font-size: 16px !important;
    color: #707070 !important;
    border-top: solid 1px #A7A7A7 !important;
  }
}}

/* Configurations */
*,
:after,
:before {
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
}
:after,
:before {
  --tw-content: "";
}
:host,
html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family:
    Open Sans,
    ui-sans-serif,
    system-ui,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
  margin: 0;
}

hr {
  border-top-width: 1px;
  color: inherit;
  height: 0;
}

abbr:where([title]) {
  text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family:
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    Liberation Mono,
    Courier New,
    monospace;
  font-feature-settings: normal;
  font-size: 1em;
  font-variation-settings: normal;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-feature-settings: inherit;
  font-size: 100%;
  font-variation-settings: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

button,
select {
  text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
}
fieldset,
legend {
  padding: 0;
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

dialog {
  padding: 0;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

[role="button"],
button {
  cursor: pointer;
}

:disabled {
  cursor: default;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  height: auto;
  max-width: 100%;
}

[hidden] {
  display: none;
}

*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position: ;
  --tw-gradient-via-position: ;
  --tw-gradient-to-position: ;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
  --tw-contain-size: ;
  --tw-contain-layout: ;
  --tw-contain-paint: ;
  --tw-contain-style: ;
}